{% extends 'layout5.html' %}
{% load static %}


{% block menu %}
{% include 'menu.html '%}
{% endblock %}


{% block content %}
					<div id="main">
						<div class="inner">
							<h1>{{author.name}}</h1>
							<span class="image main"><img src="/{{author.image}}" alt="" /></span>
							<p>{{article.age}}</p>
							<h4> Статті цього автора </h4>
							{% for article in author.article_set.all %}
								<a href="/article/{{article.id}}">{{article.title}}</a>
							{% endfor %}
						</div>
					</div>
{% endblock %}

{% block socials %}
		{% include 'social.html' %}
{% endblock  %}